body {
  background-color: rgb(61 158 255);
  color: white;
}

.container {
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 150%;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2")
    format("woff2");
  unicode-range:
    u+0000-00ff,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+2000-206f,
    u+2074,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.column-third {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-format {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 45%;
}
